.git
.editorconfig
.idea
.npmrc
.vscode
*.crt
*.key
npm-debug.log
project.env
backup/*
coverage
dist/*
devops/version/
!dist/.gitkeep
logs/*
node_modules/
devops/version/
tmp

cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
!jest.config.js
!setup.js
.history
.DS_Store