@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: calc(15px + 0.390625vw);
}

body {
  font-family: 'Helvetica Neue', sans-serif !important;
}

.test {
  border: 1px;
}