<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="no-js">
<head>
    <title>TypesScript + React Template</title>
    <meta name="title" content="Dev experiments">
    <meta name="robots" content="noindex">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <base href="./">

    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="shortcut icon" href="/favicons/favicon.ico">

    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="/assets/stylesheets/reset.css" rel="stylesheet"/>
    <link href="/assets/app.css" rel="stylesheet"/>

    <script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"
    ></script>

    <script src="/assets/scripts/safari-nomodule.js"></script>

    <script crossorigin src="https://unpkg.com/react@18/umd/react.{{scriptEnvSuffix}}.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.{{scriptEnvSuffix}}.js"></script>
    <script crossorigin src="https://unpkg.com/moment@2.29.4"></script>
</head>
<body>
    <div id="app-root"></div>
    <script type="module" src="/assets/app.bundle.mjs"></script>
    <script nomodule src="/assets/app.bundle.es2016.js"></script>
</body>
</html>